.keypadInput {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 100%;
    min-height: 2.5rem;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    color:rgb(207, 207, 207);
    transition: 0.2s linear;
}

.active {

    background-color: rgba(26, 150, 251, 0.2);
    border: 0 !important;
    color: white !important;
    transition: 0.2s linear;
}

.filled {

    color:rgb(151, 151, 151);
    transition: 0.2s linear;
}

.incorrect {

    background-color: rgba(251, 26, 26, 0.2);
    color: rgb(218, 67, 67);
    transition: 0.2s linear;
}

.correct {

    background-color: rgba(26, 251, 120, 0.2);
    color: rgb(67, 218, 112);
    transition: 0.2s linear;
}